<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<h2>Search for vehicles:</h2>
<div class="row justify-content-center">
  <div class="col-sm-8">
    <form name="searchForm" class="modal-body">
      <div class="w-100 mt-3">
        <div class="modal-body">
          <div class="row form-group">
            <div class="col-2">
              <label class="form-control-label" for="field_connected">Status</label>
            </div>
            <div class="col-10">
              <select class="form-control" id="field_connected" name="status"
                      [(ngModel)]="vehicleCriteria.connected">
                <option [ngValue]="null"></option>
                <option value="true">True</option>
                <option value="false">False</option>
              </select>
            </div>
          </div>
          <div class="row form-group">
            <div class="col-2">
              <label class="form-control-label" for="field_customerName">Customer Name</label>
            </div>
            <div class="col-10">
              <input id="field_customerName" type="text" class="form-control" name="customerName"
                     [(ngModel)]="vehicleCriteria.customerName"/>
            </div>
          </div>
          <div class="row form-group">
            <div class="col-10 offset-2">
              <button jhi class="input-group-append btn btn-info"
                      (click)="searchByCriteria()">
                <span class="fa fa-search"></span>
                <span>Search</span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
<div class="row">
    <div class="col">
      <div class="table-responsive" *ngIf="vehicles">
        <table class="table table-striped">
          <thead>
          <tr>
            <th><span>ID</span></th>
            <th><span>RegistrationNumber</span></th>
            <th><span>Connected</span></th>
            <th><span>Customer Name</span></th>
            <th><span>IP</span></th>
            <th><span>Last Status Time</span></th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let vehicle of vehicles">
            <td>{{vehicle.id}}</td>
            <td>{{vehicle.registrationNumber}}</td>
            <td>{{vehicle.connected}}</td>
            <td>
              {{vehicle.customer?.name}}
            </td>
            <td>{{vehicle.ip}}</td>
            <td>{{vehicle.lastStatusTime}}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
</div>

<router-outlet></router-outlet>
